<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0 fancy-h1">
            <span>James</span>
            <span class="text-primary">Johnston</span>
        </h1>
        <div class="subheading mb-5">
            <a href="mailto:admin@jamesjohnston.xyz">me@jamesjohnston.xyz</a>
        </div>
        <p class="lead mb-5">I am a non-traditional senior at University Wisconsin - Whitewater for Computer Science / Data Science. I have had the opporutnity to work in the Information Technology industry for years and am currently aspiring for a software developer role, I want to make the world a better place by contributing to the health industry.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/jamestheprogrammer/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/escsequence"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/escseq"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="https://www.facebook.com/whatishardcore/"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Solutions Developer Intern</h3>
                <div class="subheading mb-3">Covance / Labcorp</div>
                <p></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">May 2021 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Associate Developer Intern</h3>
                <div class="subheading mb-3">WPS Health Solutions</div>
                <p></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">May 2019 - Decemeber 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Advanced Repair Agent</h3>
                <div class="subheading mb-3">Geek Squad / Best Buy</div>
                <p></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">August 2014 - September 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Validation Analyst Intern</h3>
                <div class="subheading mb-3">PPD</div>
                <p></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">August 2018 - September 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer Intern</h3>
                <div class="subheading mb-3">Sony Creative Software</div>
                <p></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">July 2017 - Decemeber 2017</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">University of Wisconsin Whitewater</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science - Web Development / Data Science Minor</div>
                <p>GPA: 3.4</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">January 2018 - May 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Madison Area Technical College</h3>
                <div class="subheading mb-3">Associate of Applied Science</div>
                <div>Mobile Application Developer (Android/iOS)</div>
                <p>GPA: 3.5</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">August 2013 - May 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Robert M. Lafollete High School</h3>
            </div>
            <div class="flex-shrink-0"><span class="text-primary color-secondary">September 2009 - May 2013</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>
        <ul>
          <li>C++</li>
          <li>C#/ASP.NET</li>
          <li>Java</li>
        </ul>
        <div class="subheading mb-3">Experience with IDEs:</div>
        <ul class="mb-0">
            <li>
                Visual Studio
            </li>
            <li>
                Eclipse
            </li>
            <li>
                Atom
            </li>
            <li>
                Sublime
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>
        <div class="subheading mb-3">web</div>
        <ul>
          <li><a href="https://github.com/escsequence/jamesjohnston.xyz">jamesjohnston.xyz</a></li>
          <li><a href="../quizem">quizem</a></li>
          <li><a href="https://github.com/escsequence/JSS.js">JSS.js</a></li>
        </ul>
        <div class="subheading mb-3">software/games</div>
        <ul>
          <li>RED!</li>
          <li>circuit-breaker</li>
          <li><a href="https://github.com/escsequence/pokemon-master">Pokemon RBY Remake</a></li>
          <li><a href="https://github.com/escsequence/hkChi">hkChi</a></li>
        </ul>
        <div class="subheading mb-3">Android</div>
        <ul>
          <li>Gadgt</li>
        </ul>
    </div>
</section>
<hr class="m-0" />
<!-- <section class="resume-section" id="blog">
  <div class="resume-section-content" ng-controller="blogController">
    <div class="col-md-12">
      <div ng-repeat="pt in pts" class="post-display mt-5">
        <h1 style="max-width:100%;white-space: nowrap;text-overflow: ellipsis;">{{ pt.title }}</h1>
        <p style="max-height: 120px;overflow:hidden;">{{ pt.description }}</p>
        <div>
          <span ng-repeat="tg in pt.tags">
            <span class="badge badge-secondary {{tg.color}}">{{ tg.name }}</span>
          </span>
          <div class="float-right">
            <a href="../blog/{{pt.pid}}">read more</a>
          </div>
        </div>
        <div class="mb-5"></div>
        <hr/>
      </div>
    </div>
  </div>
</section> -->
