<div class="container-fluid">
  <h2 class="container p-3 my-3">James' Random Web Creations</h2>
  <hr />
  <div class="">
    <ul>
      <li><a href="./pg/tm1">Text Manipulator 1.0</a></li>
    </ul>
  </div>
  <hr />
  <div class="rwc p-5" id="tm1">
    <h3>Text Manipulator 1.0</h3>
    <div class="">
      <textarea placeholder="Enter text here." style="width:100%; max-width:800px; height: 240px;" id="tm1ta"></textarea>
      <div class="">
        <input type="sep" placeholder="replace" style="width:25%; max-width:380px;" id="tm1r"> ->
        <input type="sep" placeholder="with" style="width:25%; max-width:380px;" id="tm1w">
      </div>
      <hr />
      <button class="btn btn-primary" type="button" name="button" id="tm1btn">modify</button>
    </div>
  </div>
</div>
